<!DOCTYPE html>
<html>
<head>
  <title>Reply - ChitChan</title>
  <!-- Import Google Icon Font -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Import Materialize CSS -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.min.css') }}" media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body class="container">

  <!-- Import jQuery and Materialize JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="{{ url_for('static', filename='materialize/js/materialize.min.js') }}"></script>

  <h4 class="center-align">Replying to Post #{{ post.post_id }} on /{{ board }}/</h4>

  <div class="card">
    <div class="card-content">
      {% if post.image_file %}
        <a href="{{ url_for('static', filename='uploads/' + post.image_file) }}">
          <img style="width:100px;" src="{{ url_for('static', filename='uploads/' + post.image_file) }}">
        </a>
      {% endif %}
      <p><strong>User:</strong> {{ post.user }}</p>
      <p><strong>Date:</strong> {{ post.date }}</p>
      <p><strong>Post:</strong> {{ post.post_text }}</p>
    </div>
  </div>

  <form method="POST" action="/{{ board }}/post_reply/{{ post.post_id }}" enctype="multipart/form-data">
    <div class="input-field">
      <input type="text" name="name" id="name">
      <label for="name">Name</label>
    </div>

    <div class="file-field input-field">
      <div class="btn">
        <span>Image</span>
        <input type="file" name="image">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

    <div class="input-field">
      <textarea id="post_text" name="post_text" class="materialize-textarea"></textarea>
      <label for="post_text">Reply</label>
    </div>

    <button class="btn waves-effect waves-light" type="submit">
      Submit Reply
      <i class="material-icons right">reply</i>
    </button>
  </form>

  <h5 class="center-align">Replies</h5>
  <div class="section">
    {% for reply in replies %}
    <div class="card">
      <div class="card-content">
        {% if reply.image_file %}
        <a href="{{ url_for('static', filename='uploads/' + reply.image_file) }}">
          <img style="width:100px;" src="{{ url_for('static', filename='uploads/' + reply.image_file) }}">
        </a>
        {% endif %}
        <p><strong>User:</strong> {{ reply.user }}</p>
        <p><strong>Date:</strong> {{ reply.date }}</p>
        <p><strong>Reply:</strong> {{ reply.post_text }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

</body>
</html>
